/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/07/2016, 12:07:56
    Author     : 93137609
*/
/*
#form_form_rdm {
    background-color:#bde6fd;
    width:800px;
    box-shadow: 0px 0px 50px black;
    border-radius: 30px;
    padding: 10px;
    height:550px;
    position:absolute;
    left:060px;
}
h4{
    background-color: #7faed4;
    text-align: center;
    top:-25px;    
    left:20px;
    width:760px;
    border-radius:20px;
    padding: 10px;
    position: absolute;
}
#form_form_rdm #form_rdm,#form_desc,#form_dat_exec,#form_exec,#form_hor_exec,#form_resp,#form_status,#form_submit{
    position: relative;
    padding: 30px;
    margin:0px;
}
.tx_label{
    font-family: arial;
    font-size:12px;
    text-align:left;   
}
#form_form_rdm #form_submit{
    top:-575px;    

}
#form_form_rdm #form_status{
    top:-550px;

}
#form_form_rdm #form_exec{
    top:-504px;    

}
#form_form_rdm #form_resp{
    top:-630px;    
    left:205px;
}
#form_form_rdm select{
    height:21px;
    font-family: arial;
    font-size:12px;
}
#form_form_rdm #form_hor_exec{
    top:-458px;
    left:370px;
}
#form_form_rdm #form_dat_exec{
    top:-327px;
    left:185px;
}
#form_form_rdm #form_desc{
    top:20px;
}
#form_form_rdm #form_rdm{
    left:0px;
}
*/
body{
    margin:0px;
}
#cabecalho{
    background-color: #e3e3e3;
    padding: 30px;
}

.logo{
    font-family:arial;
    font-size:45px;
    text-shadow:0px 0px 40px #FFFFF;
    color: #337ab7;
}

.container{
    background-color: #eff4f6;
    height:750px;
    
}

.disabledTab {
    pointer-events: none;
    cursor: crosshair;
}